@model Brut_Net.Models.Genel
@{
    ViewBag.Title = "Net Ücretten Brüt Ücret Hesaplama";
    Layout = "~/Views/shared/Layout.cshtml";
}

<div class="container-fluid">




    <div class="row-fluid">
        <div class="span12 widget">
            <h2 class="widget-heading">Net Maaştan Brüt Ücret Hesaplanaması</h2>
            <table cellpadding="0" cellspacing="0" border="0" class="tDefault">
                <thead>
                    <tr>
                        <th>Aylar</th>
                        <th>Brüt</th>
                        <th>SGK işçi</th>
                        <th>İşsizlik işçi</th>
                        <th>KGVM</th>
                        <th>GV Matrahı</th>
                        <th>GV</th>
                        <th>DV</th>
                        <th>AGİ</th>
                        <th>Net</th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.tutulanBilgiler)
                    {
                        <tr>
                            <td class="center">@item.Aylar </td>
                            <td class="center">@item.BrutUcret.ToPriceText()</td>
                            <td class="center">@item.SskIsci.ToPriceText()</td>
                            <td class="center">@item.IssizlikIsci.ToPriceText()</td>
                            <td class="center">@item.Kgvm.ToPriceText()</td>
                            <td class="center">@item.GvMatrahi.ToPriceText()</td>
                            <td class="center">@item.GelirVergisi.ToPriceText()</td>
                            <td class="center">@item.DamgaVergisi.ToPriceText()</td>
                            <td class="center">@item.Agi.ToPriceText()</td>
                            <td class="center">@item.NetUcret.ToPriceText()</td>

                        </tr>
                    }
              
         
                    <tr>
                        <th>Toplam</th>
                        @foreach (var item in Model.ToplamBilgiler)
                        {
                            <td class="center"><b>@item.ToplamBrutucret.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamSskisci.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamIssizlikisci.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamKgvm.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamGvmatrahi.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamGelirvergisi.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamDamgaVergisi.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamAgi.ToPriceText()</b></td>
                            <td class="center"><b>@item.ToplamNetucret.ToPriceText()</b></td>

                        }

                    </tr>
                </tbody>
            </table>
        </div>
    </div>





</div>